.card{
    padding: 20px;
    height: 50%;
    width: 50%;
}

.action{
    font-size: 12px;
    font-family: sans-serif;
    
    img{
        width: 200px;
        height: 100px;
        padding: 5px;
    }
    p{
        width: 200px;
        height: auto;
        padding: 5px;
    }
    buttons{
        padding: 2px;
    }

}


