<div  fxLayout="row" >
    <div class="card"  >
        <div class="card-body" fxFlex=30%>
            <form (submit)="addArticle(newTitle, newDescription, newImage)">
                <div class="form-group">
                    <input type="text" placeholder="Title" #newTitle class="form-control">
                </div>
                <div class="form-group">
                    <textarea #newDescription  class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <input #newImage  class="form-control" placeholder="Image url">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Send</button>
            </form>
        </div>
    </div>
    <div fxFlex=70%>
        <div  *ngFor="let article of data" class="action" fxLayout="row" fxLayoutAlign="space-evenly center" >
                <p>{{article.title}}</p>
                <p>{{article.description}}

                </p>
                <img src="{{article.image}}" alt="">    
                <button class="btn btn-danger" (click)="deleteArticle(article.title)">Delete</button>
            </div> 
        </div>
</div>
