<div class="footer">
    <div fxLayout="row" fxLayoutAlign="space-evenly start" class="info" >
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 >ABOUT</h2>
            <p>COMPANY</p>
            <p>NEWS</p>
            <P>PRIVACY</P>
        </div>
        <div  fxLayout="column" fxLayoutAlign="center center">
            <h2 >CONTACT</h2>
            <p>EMAIL: NEWS@GMAIL.COM</p>
            <p>PHONE: 0979541254</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 >OUR SITES</h2>
            <p>NEWS.COM</p>
            <p>NEWS-SITE.COM</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 >FOLLOW</h2>
            <P>FACEBOOK</P>
            <P>TWITTER</P>
            <P>INSTAGRAM</P>
            <P>VK</P>
        </div>
    </div>
    <div class="copyright">
        <div fxLayout="column" fxLayoutAlign="center center"> 
            <h1>NEWS</h1>
            <p>COPYRIGHT © 2021, NEWS. ALL RIGHTS RESERVED</p> 
        </div>
    </div>
</div>