<div>
    <div fxFlex="20%" fxLayoutAlign="center center">
        <p>
            NEWS
        </p>
    </div>
    <div fxFlex="60%" fxLayoutAlign="start center">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/local">LOCAL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/remote">REMOTE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/remote+">REMOTE+</a>
            </li>


          </ul>
    </div>
    <div fxFlex="20%" fxLayoutAlign="center center">

 <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/login"  >LOG IN</a>
            </li>

 
          </ul>
    </div>

</div>