*{
    padding:  4px;

}
p{
    font-family: sans-serif;  
    letter-spacing: 0.25em;
    font-size: 24px;
    font-weight: 100;
    margin:0;
    padding:0;
}

li{
    font-family: sans-serif;
    font-size: 12px;
    padding: 0 10PX;
}

.nav-link{
    color: black !important;
}
